<div class="title bg-primary">


    ¿DÓNDE ESTAMOS?</div>

<div class="row">
    <div class="col-xs-6">
        <div id="map-canvas" g-map=""></div>
    </div>
    <div class="col-xs-6">
        <h1>Contacta con nosotros...</h1>
        <div id="contacto" class="ident">
            <p>
                <b>Dirección:</b>
                <p class="ident">Avda. Doctor García Tapia,145</p>
                <p class="ident">Moratalaz, 28030 Madrid</p>
            </p>
            <br>
            <p>
                <b>Teléfono:</b>
                <p class="ident">91 751 32 72</p>
            </p>
            <br>
            <p>
                <b>Correo Electrónico:</b>

                <p class="ident"><a href="mailto:fonemaslogopedia@hotmail.com">fonemaslogopedia@hotmail.com</a></p>
            </p>
        </div>

    </div>
</div>
