
<style>
html,body {
	margin: 0;
	padding: 0;
	height: 100%;
}

#panel {
	width: 100%;
	display: block;
	height: 100%;
}

#direccion {
	border-radius: 6px;
	box-shadow: 3px 3px 11px #333333;
	position:absolute;
	right:1em;
    height: 100%;
    min-height: 500px;
    padding-left: 1em;
    width: 45%;
	background: none repeat scroll 0 0 #FFFFFF;
    
}

#map-canvas {
	
	height: 100%;
	border-radius: 6px;
	box-shadow: 3px 3px 11px #333333;
	min-height: 500px;
}

#contacto {
	font-size: 26px;
}
.ident{
	margin-left:1em;
}

.title.bg-primary
{
	font-size: 2em;
    padding: 5px 5px 5px 40px;
    margin-bottom: 0.5em;
}
</style>

	<div class="title bg-primary">¿DÓNDE ESTAMOS?</div>

<div class="row">
	<div class="col-xs-6">
		<div id="map-canvas" g-map=""></div>
	</div>
	<div class="col-xs-6">
		<h1>Contacta con nosotros...</h1>
		<div id="contacto" class="ident">
			<p>
				<b>Dirección:</b> 
				<p class="ident">Avda. Doctor García Tapia,145</p>
				<p class="ident">Moratalaz, 28030 Madrid</p>
			</p>
			<br>
			<p>
				<b>Teléfono:</b>
				<p class="ident">91 751 32 72</p>
			</p>
			<br>
			<p>
				<b>Correo Electrónico:</b>
				<p class="ident"><a
				href="mailto:logopedia.fonemas@gmail.com">logopedia.fonemas@gmail.com</a></p>
				<p class="ident"><a
				href="mailto:fonemaslogopedia@hotmail.com">fonemaslogopedia@hotmail.com</a></p>
			</p>
		</div>

	</div>
</div>


