<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<div>
<div class="title bg-primary">DISFUNCIONES DEL LENGUAJE</div>


    <p>Existen diferentes patologías que pueden afectar tanto al lenguaje como al habla</p>
    <h3>Alteraciones de la voz</h3> Entre las causas que suelen generar alteraciones en la voz podemos señalar: bronquitis crónica, asma, vegetaciones, laringitis. Podemos dividir las alteraciones de la voz en:

    <ul class="square">
        <li><b>Disfonía:</b> Alteración de la voz debido a causas orgánico o a una incorrecta utilización de la voz.</li>
        <li><b>Afonía:</b> Ausencia total de la voz.</li>
    </ul>

    <h3>Alteraciones de la articulación</h3>

    <ul class="square">
        <li><b>Dislalias.</b> Son trastornos en la articulación de uno o varios fonemas por sustitución (elexante en lugar de elefante), omisión (efante en lugar de elefante), inserción (elefrante en lugar de elefante) o distorsión (elerrrrrante en lugar
            de elefante) de los mismos. Se pueden clasificar las dislalias en:
            <img src="img/dislalia.jpg" class="dcha" />
            <ul class="square">
                <li><b>Dislalia evolutiva/fisiológica:</b> Es una alteración que tiene que ver con la madurez del niño: hasta los 4 ó 5 años de vida, los niños no son capaces de articular correctamente ciertos fonemas debido a la etapa lingüística en la que
                    se encuentran. Son defectos articulatorios inherentes al proceso de aprendizaje. Este tipo de dislalia suele remitir o desaparecer con el tiempo espontáneamente sin mayor importancia.</li>
                <li><b> Dislalia audiógena:</b> Su origen se debe a una deficiencia auditiva que impide captar adecuadamente el fonema y, con ello, su reproducción (el niño que no oye bien no articula correctamente). Es muy importante la detención precoz
                    (este problema tiene una razón de peso, no es un capricho del niño).</li>

                <li><b> Dislalia funcional:</b> Es una alteración producida por un mal funcionamiento de los órganos articulatorios sin que exista etiología orgánica.</li>
                <li><b> Dislalia orgánica/Disglosia: </b>La alteración de la articulación se debe a malformaciones de los órganos del habla que suelen ser innatas. En función del órgano afectado podemos hablar de disglosias labiales, mandibulares, dentales,
                    linguales o palatales.
                </li>
            </ul>
            <li><b>Disartrias.</b> Son trastornos en la articulación de la palabra debido a lesiones en el SNC que afectan a la articulación de todos los fonemas en que interviene la zona lesionada. La gravedad va a depender de la zona lesionada y de su extensión
                (el caso más extenso sería la anartria o incapacidad para articular los fonemas de las palabras. En función de las lesiones producidas en el SNC hablamos de:
                <img src="img/disastria.jpg" class="izda" />
                <ul class="square">
                    <li><b> Disartria flácida:</b> Se localiza en la neurona motriz inferior.
                    </li>

                    <li><b> Disartria espástica: </b>Se localiza en la neurona motriz superior.</li>
                    <li><b>Disartria atáxica:</b> Se localiza en el cerebelo.</li>
                    <li><b>Disartria hipocinética/hipercinética:</b> Se localizan en el sistema extrapiramidal (la diferencia entre ambas son muy sutiles).
                    </li>
                </ul>
            </li>
    </ul>
    <h3>Alteraciones de la fluidez verbal</h3>
    <ul class="square">
        <li><b> Disfemia. </b>Es una alteración en el ritmo del habla que se caracteriza por la existencia de repeticiones de sonidos y de bloqueos que se producen en una situación comunicativa. Los síntomas de este trastorno varían según el caso, el interlocutor,
            el contenido del discurso, el contexto, etc. Las manifestaciones disfémicas se pueden agrupar en torno a tres aspectos:
            <ul class="square">
                <li>Aspectos lingüísticos: Uno de “muletillas”, abuso de sinónimos, discurso incoherente, desorganización entre pensamiento y lenguaje…</li>
                <li>Aspectos conductuales: Mutismo, ansiedad, bloqueos, conductas de evitación conversacional…</li>
                <li>Aspectos corporales y respiratorios: Tics, espasmos, alteración respiratoria, rigidez facial...</li>
            </ul>Algunos de estos síntomas suelen aparecer a edades tempranas, pero no deben preocuparnos en exceso, pues no implican fijación disfémica. Estas manifestaciones deben ser consideradas como normales, ya que el niño está desarrollando su lenguaje.
            La verdadera tartamudez habría que situarla alrededor de los 10 años, donde se aconseja una intervención logopédica.</li>
    </ul>
    <h3>4. Alteraciones del lenguaje.</h3>

    <ul class="square">
        <li><b> Mutismo.</b> Este trastorno consiste en la desaparición total del lenguaje, de forma repentina o progresiva. Puede ser tras un choque afectivo, histérico, por enfermedad laríngea o de “unos días”
        </li>
        <img src="img/retraso.jpg" class="dcha" />
        <li><b> Retraso en el desarrollo del lenguaje.</b> Es un término amplio empleado para englobar aquellos retrasos en la aparición y/o desarrollo del lenguaje SIN que existan síntomas de déficits intelectuales, sensoriales o motrices. Se trata de niños
            cuyo proceso de adquisición y desarrollo del lenguaje no se realiza conforme a las etapas que suelen establecerse como “normales”. Entre las características que consideramos más importantes destacamos:
            <ul class="square">
                <li>Aparición de las primeras palabras después de los 2 años (lo normal sería antes del año y medio).</li>
                <li>La unión de palabras no aparece hasta los 3 años.</li>
                <li>Vocabulario reducido a los 4 años.</li>
                <li>Comprensión del lenguaje superior a la expresión.</li>
                <li>Desinterés comunicativo, poca receptividad.</li>
                <li>Importante desarrollo comunicativo del gesto (lo emplea como recurso).</li>
                <li>Inmadurez en la lateralidad.</li>
            </ul>
    </ul>
    </li>

    <li><b> Afasias. </b>Son trastornos de origen cerebral SIN que haya lesión en las vías motoras o auditivas, pero sí en las vías expresivas y comunicativas. La afasia ha sido definida como el trastorno de lenguaje producido por una alteración del hemisferio
        cerebral izquierdo cuya función principal es el procesamiento del lenguaje. Se caracteriza por:
        <ul class="square">
            <li>Dificultades para la interpretación del lenguaje oral.</li>
            <li>Incoordinación dinámica general.</li>
            <li>Habla en jerga.</li>
            <li>Lenguaje telegráfico, ecolalia (repetición de los últimos fonemas o frases: “Me llamo Inma Inma Inma”, “Ecolalia alia alia alia”).
            </li>
            <li>Hemiplejia (paralización del cuerpo).
        </ul> Teniendo en cuenta las áreas del lenguaje afectado distinguimos:
        <ul class="square">
            <li>Afasia sensorial o receptiva: la lesión está en la zona de Wernicke. Los niños que la padecen no comprenden el significado de las palabras y hablan con dificultad.</li>
            <li>Afasias motora o expresiva: la lesión está en la zona de Broca. Los niños que la padecen comprenden el significado de las palabras, pero no pueden expresarse.</li>
            <li>Afasia mixta: lesión más amplia que afecta a las zonas receptivas y motoras del lenguaje.</li>
        </ul>
        </li>
        </ul>
</div>
