<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<div class="bodered">

	<h1>TECNICAS DE ESTUDIO</h1>
	<p>El abandono escolar prematuro afecta a casi un 30% de los
		hombres jóvenes en España, casi el doble que la media europea. Aunque
		las causas son muy diversas, en muchos casos se debe a una carencia en
		las técnicas de estudio.</p>
		<img src="img/estudio2.jpg" style="clear: left;  float: right; margin: 1em;"/>

	<p>En Fonemas Logopedia S.L. enseñamos una serie de técnicas y
		apoyo escolar que ayudan a los niños con problemas a mejorar su forma
		de estudiar. Las clases de apoyo se dan en grupos reducidos (máximo
		3):</p>
	<img src="img/estudio1.jpg" style="clear: left;  float: left; margin: 2em;"/>
	
	<ul class="square">
		<li><b>Subrayando </b>las partes más importantes del texto para
			obtener la idea principal y posteriormente interiorizarla.</li>
		<li>Realizando <b>esquemas </b>que ayuden a resumir lo más
			importante y a jerarquizar las ideas del texto, diferenciando entre
			ideas principales y secundarias.
		</li> 
		<li>Realizando <b>ejercicios y casos prácticos </b>para ver las aplicaciones de la
		parte estudiada.
		</li>

		<li>Utilizando <b>reglas mnemotécnicas </b> para interiorizar
			listas y conjuntos de conceptos.
		</li>
		<li><b>Organizando el estudio</b> y el tiempo que se dedica a
			cada asignatura y tarea para optimizar el tiempo de estudio.</li>
		<li>Realizando <b>una lectura comprensiva </b> y posteriormente <b>haciendo
				preguntas al texto</b> para verificar lo estudiado.
		</li>
		<li>Realizando <b>ejercicios de expresión oral y escrita</b>.
		</li>
	</ul>

</div>