<style>
.img-link
{
	box-shadow: 4px 4px 4px gray;
    margin-bottom: 1em;
}

.icon {
	font-size: 72px;
    color: #428bca; 
    line-height: 60px;
    position: absolute;
    width: 100%;

    top: 30px;
    text-align: center;
    -webkit-transition: all 400ms linear;
    -moz-transition: all 400ms linear;
    -o-transition: all 400ms linear;
    -ms-transition: all 400ms linear;
    transition: all 400ms linear;
}
.main-link h4{
	color: #fff;
	text-shadow: 2px 1px #000;
	
}
.main-link img{
	border: 2px solid #428bca;
	 width: 150px;
    height: 150px;
}
</style>
<div style="    position: absolute;
    width: 138%;
    -webkit-filter: opacity(0.84) sepia(1%) blur(2px);
    filter: blur(4px) grayscale(20%);
    left: -20%;
   	top:-20%;
    z-index: -1;
    ">
			<img src="img/584.jpg" style="width:100%"/>

		</div>
<ul class="ca-menu clearfix" style="margin-top:2em">
	<li><a href="#/quienessomos"> <span class="icon glyphicon glyphicon-user"></span>
			<div class="ca-content">
				<h2 class="ca-main">¿Quiénes somos?</h2>
				<h3 class="ca-sub">Conoce nuestro centro</h3>
			</div>
	</a></li>
	<li><a href="#/quehacemos"> <span class="icon glyphicon glyphicon-info-sign"></span>
			<div class="ca-content">
				<h2 class="ca-main">¿Qué hacemos?</h2>
				<h3 class="ca-sub">Conoce nuestro trabajo</h3>
			</div>
	</a></li>
	<li><a href="#/contacto"> <span class="icon glyphicon glyphicon-map-marker"></span>
			<div class="ca-content">
				<h2 class="ca-main">¿Dónde estamos?</h2>
				<h3 class="ca-sub">Contacta con nosotros</h3>
			</div>
	</a></li>
	<!-- <li><a href="#/private"> <span class="ca-icon">&#120;</span>
			<div class="ca-content">
				<h2 class="ca-main">Area Personal</h2>
				<h3 class="ca-sub">Accede a tu area personal</h3>
			</div>
	</a></li> -->
</ul>
<!--star main -->

<div class="row" >
	<div class="col-xs-3 col-xs-offset-2  main-link">
		<a href="#/disfunciones">
			<img src="images/nino-gritando.jpg"
				alt="Trastornos habla"  class="img-circle img-responsive img-link" />
			<h4 >Disfunciones del lenguaje...</h4>
			
		</a>
		
	</div>
	<div class="col-xs-3 col-xs-offset-2 main-link">
		<a href="#/disfunciones">
			<img src="images/nino-sentado.jpg"
				alt="Apoyo y ayuda al estudio"  class="img-circle img-responsive img-link" />
			<h4 >Apoyo y ayuda al estudio...</h4>
			
		</a>
		
	</div>
	<!--div class="col-xs-3">
		<a href="#/disfunciones">
			<img src="images/nino-gritando.jpg"
				alt="Otros trastornos"  class="img-rounded img-responsive img-link" />
			<h4>Otros trastornos...</h4>
			
		</a>
		
	</div-->

</div>