<div class="container-background ">
    <img src="img/584.jpg" style="width:100%" />
</div>
<ul class="ca-menu clearfix" style="margin-top:2em">
    <li>
        <a href="#/quienessomos"> <span class="icon glyphicon glyphicon-user"></span>
            <div class="ca-content">
                <h2 class="ca-main">¿Quiénes somos?</h2>
                <h3 class="ca-sub">Conoce nuestro centro</h3>
            </div>
        </a>
    </li>
    <li>
        <a href="#/quehacemos"> <span class="icon glyphicon glyphicon-info-sign"></span>
            <div class="ca-content">
                <h2 class="ca-main">¿Qué hacemos?</h2>
                <h3 class="ca-sub">Conoce nuestro trabajo</h3>
            </div>
        </a>
    </li>
    <li>
        <a href="#/contacto"> <span class="icon glyphicon glyphicon-map-marker"></span>
            <div class="ca-content">
                <h2 class="ca-main">¿Dónde estamos?</h2>
                <h3 class="ca-sub">Contacta con nosotros</h3>
            </div>
        </a>
    </li>

</ul>
<!--star main -->

<div class="row">
    <div class="col-xs-3 col-xs-offset-2  main-link">
        <a href="#/disfunciones">
            <img src="img/nino-gritando.jpg" alt="Trastornos habla" class="img-circle img-responsive img-link" />
            <h4>Disfunciones del lenguaje...</h4>

        </a>

    </div>
    <div class="col-xs-3 col-xs-offset-2 main-link">
        <a href="#/estudio">
            <img src="img/nino-sentado.jpg" alt="Apoyo y ayuda al estudio" class="img-circle img-responsive img-link" />
            <h4>Apoyo y ayuda al estudio...</h4>

        </a>

    </div>


</div>
