
<style>

ul {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}
ul li{
	border-top:1px solid gray;
	border-bottom:1px solid gray;
}
.title.bg-primary
{
	font-size: 2em;
    padding: 5px 5px 5px 40px;
    margin-bottom: 0.5em;
}
.punto {
	font-size: 4em;
    text-align: center;
    border: 2px solid gray;
    box-shadow: 2px 3px 3px gray;
    border-radius: 100%;
    background: #eee;
}
.seccion{
	margin-top:0.5em;
}
</style>

<div class="">
	<div class="title bg-primary">QUÉ HACEMOS</div>
	<div class="seccion row">
		<div class="col-xs-2">
			<div class="bg- punto">1</div>
		</div>
		<div class="col-xs-10">
			<div class="text-primary">ENTREVISTA CON LOS PADRES</div>
			<p>
			Realizamos una <b>primera entrevista gratuita</b>, donde se intercambian datos de interés para una posterior valoración.
			</p>

		</div>
	</div>
	
	<div class="seccion row">
		
		<div class="col-xs-10">
			<div class="text-primary">EVALUACIÓN Y DIAGNÓSTICO</div>
			<p>
			Realizamos una <b>primera entrevista gratuita</b>, donde los padres exponen los problemas que afectan a sus hijos para poder determinar el alcance y origen de los mismos.
			</p>

		</div>
		<div class="col-xs-2">
			<div class="bg- punto">2</div>
		</div>
	</div>


	<div class="seccion row">
		<div class="col-xs-2">
			<div class="bg- punto">3</div>
		</div>
		<div class="col-xs-10">
			<div class="text-primary">COMPLETAR INFORMACIÓN</div>
			<p>
			Realizamos una <b>primera entrevista gratuita</b>, donde los padres exponen los problemas que afectan a sus hijos para poder determinar el alcance y origen de los mismos.
			</p>

		</div>
	</div>

	<div class="seccion row">
		
		<div class="col-xs-10">
			<div class="text-primary">TRATAMIENTO</div>
			<p>
			Realizamos una <b>primera entrevista gratuita</b>, donde los padres exponen los problemas que afectan a sus hijos para poder determinar el alcance y origen de los mismos.
			</p>

		</div>
		<div class="col-xs-2">
			<div class="bg- punto">4</div>
		</div>
	</div>

	<div class="seccion row">
		<div class="col-xs-2">
			<div class="bg- punto">5</div>
		</div>
		<div class="col-xs-10">
			<div class="text-primary">CHARLAS INFORMATIVAS</div>
			<p>
			Realizamos una <b>primera entrevista gratuita</b>, donde los padres exponen los problemas que afectan a sus hijos para poder determinar el alcance y origen de los mismos.
			</p>

		</div>
	</div>
	<p> A partir de esta entrevista se determinará si es necesario realizar una <b>evaluación</b> sobre los pacientes que nos
		indica dónde se encuentran la mayores dificultades. </p>
	<p>Posteriormente, marcamos una serie de objetivos a conseguir
		durante las siguientes sesiones. Consideramos que la consecución de los objetivos es trabajo de todos, por lo que damos una serie de pautas a las familias.</p>
	<p>Estamos especializados en el tratamiento logopédico de distintas
		patologías, aunque también realizamos sesiones de apoyo escolar y
		técnicas de estudio.</p>
		
		<p>
		</p>
	<h3>Niños</h3>
	<ul>
		<li>Dislalias.Trastornos en la articulación.</li>
		<li>Dislexias.</li>
		<li>Problemas de lecto-escritura.</li>
		<li>Retraso del lenguaje.</li>
		<li>Problemas de comprensión y expresión.</li>
		<li>Disfemia o tartamudez.</li>
		
	</ul>
	<h3>Adultos</h3>
	<ul>
		<li>Afasias.</li>
		<li>Disfemia o tartamudez.</li>
		<li>Nódulos.</li>
		<li>Disfonías o Afonías.</li>
	</ul>
	<img src="img/589.jpg" class="image" />
</div>