<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style>
.title.bg-primary
{
	font-size: 2em;
    padding: 5px 5px 5px 40px;
    margin-bottom: 0.5em;
}
</style>
<div >
	<div class="title bg-primary">¿QUIENES SOMOS?</div>

	<p> 

	<b>Fonemas Logopedia SL</b> nace en febrero 2002 de la mano de Mar&iacute;a Palomo Mateo ( Maestra especialista en Audición y Lenguaje) y Roc&iacute;o Sol&iacute;s del Toro (Maestra especialista de Audición y Lenguaje y Maestra de educación especial), con la vocaci&oacute;n de ofrecer un servicio altamente cualificado y personalizado de asesoramiento a las familias, tratamiento específico de adultos y de ayuda multidisciplinar a niños de todas las edades .
	</p>
	<img src="img/584.jpg" class="image"/>
	<h3>El centro</h3>
	<p> El centro está situado en la Avda. de Doctor Garc&iacute;a Tapia, 145 en el barrio de Moratalaz de Madrid. Contamos con tres despachos cerrados y acondicionados para los distintos tratamientos, un baño  y una pequeña sala de espera donde se puede esperar a que acaben las sesiones. El local está a pie de calle en una zona ajardinada.
	</p>
	<img src="img/589.jpg"  class="image"/>
</div>