<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<script type="text/javascript">
	var factura = {
		numero : "1214-01",
		emisor : {
			nombre : "Fonemas Logopedia S.L.",
			direccion : "Avda. Doctor García Tapia,145",
			direccion2 : "28030 Madrid",
			nif : "83.202.200-B"
		},
		receptor : {
			nombre : "Fonemas Logopedia S.L.",
			direccion : "Avda. Doctor García Tapia,145",
			direccion2 : "28030 Madrid",
			nif : ""
		},
		conceptos : {

		},
		total : 500
	}
</script>
<div style="background: #fff">

	<div class="row">
		<div class="span6" style="padding:2em">
			<img src="images/logo_trans.png" alt="Fonemas Logopedia" />
		</div>
		<div class="span6">

			<h5>Emisor:</h5>
			<p class="offset1">
				<strong>CIF:</strong> <i>{{factura.emisor.cif}}</i><br /> <strong>Nombre:</strong>
				<i>{{factura.emisor.nombre}}</i><br /> <strong>Dirección:</strong>
				<i>{{factura.emisor.direccion}}</i><br /> <strong>Código
					Postal:</strong> <i>{{factura.emisor.codigoPostal}}</i> <i>({{factura.emisor.localidad}})</i><br />
			</p>
			<p>
				<strong>Factura Número:</strong> <i>{{factura.numero}}</i>
			</p>
			<p>
				<strong>Fecha:</strong> <i>{{factura.fecha}}</i>
			</p>


		</div>
	</div>
	<h3 class="page-header" style="padding-left:5em">Factura</h3>


	<div class="row">
		<h5>
			<span class="pagination-right span3">NOMBRE:</span><span
				class="span9">{{factura.receptor.nombre}}</span>
		</h5>
		<h5>
			<span class="pagination-right span3">NIF:</span><span class="span9">{{factura.receptor.nif}}</span>
		</h5>
		<h5>
			<span class="pagination-right span3">DIRECCION:</span><span
				class="span9">{{factura.receptor.direccion}} </span> <span
				class="offset3 span9">{{factura.receptor.codigoPostal}}
				{{factura.receptor.localidad}}</span>
		</h5>
	</div>
	<table cell-border="1" style=" padding: 3em; margin: 3em;width:80%">
		<thead style="background: #ccc; padding:2em;border: 2px solid gray">
			<tr>
				<th class="">CONCEPTO</th>
				<th class="">IMPORTE</th>
			</tr>
		</thead>
		<tbody style="height:10em;border: 2px solid gray">
			<tr class="" ng-repeat="concepto in factura.conceptos">
				<td class="">{{concepto.concepto}}</td>
				<td class="">{{concepto.importe | number:2}} €</td>
			</tr>
		</tbody>
		<tfoot>
		<tr>
		<td style="text-align:right;padding-right:2em;line-height:2em;">TOTAL (Exento de IVA): 
		</td>
		<td>{{factura.total | number:2}} €</td>
	</table>
	<p style="padding-left:10em;height:10em">
		Firma y Sello
	</p>

</div>